<header class="header">
    <nav class="header__navbar navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
        <span class="navbar-brand mb-0 h1">System zarządzania lotami i turystami</span>
        <div class="navbar-collapse">
            <ul class="header__list navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link header__link" href="#">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header__link" href="#">
                        <i class="far fa-bell"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <button class="button" class="btn btn-link nav-link header__link " (click)="logout()">
                        <i class="fas fa-power-off"></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>