// Colors
$base-color-bg: #000057;
$secound-color-bg: #0daee6;
$success-color: #b5ffb5;
$form-invalid: red;
$form-valid: green;
$primary: #007bff;
$icon: #7c55b6;
$light-icon: #b68bcd;
$gray: rgba(243, 243, 243, 1);
$disabled-button: rgb(192,192,192);
$border-gray: rgba(243, 243, 243, 1);
$white: white;
$yellow: yellow;
$black: rgba(50, 50, 50, 1);
$info-background: rgba(217, 237, 247, 1);
$info-text: rgba(70, 136, 168, 1);
$info-border: rgba(210, 238, 246, 1);
$input-border: #c8c8c8;
$panel-border: rgba(25, 57, 87, 0.84);
$marked: rgb(214, 36, 190);
$blocked-form: #e9ecef;
  

  // Margins
$asside-width: 7rem;

  //Triangle base sizes
$triangle-size: 80px;






