@import "../../../../styles/variables";

.select {
  display: inline-block;
  width: 100% !important;
  height: 1.5rem;
  font-size: .9rem;
  padding: 0;
  border: 1px solid rgba(200, 200, 200, 1);
  margin-top: 3px;
  margin-left: 0px;
  &:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
}

.label {
  margin-top: 0px;
}

.errorNotify {
  margin-bottom: 7px;
}

.invalid-feedback_loc {
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.is-invalid_loc {
  border: 1px solid $form-invalid;
}

.blocked {
  background: $blocked-form;
}
